#name{
    width: 40%;
    margin-left: 20%;
    padding:1%;
    }
    #btn{
        color:white;
        background-color: blue;
        margin-left: 1%;
        padding: 1%;
    }
     li{
        list-style: none;
        background-color: aqua;
        width: 96%;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top:4%;
        padding:1%; 
     }
     #box{
        /* background-color: black; */
        display: flex;
        flex-direction: column; 
     } 
     input[type="button"]{
        padding:2%;
        font-size: large;
        color: white;
        background-color: green;
        margin-left: 1%;
     }
    h2{
        text-align: center;
    }